<div class="m-3 container">
    <div class="row text-center">
        <div class="col-sm">
            <form>
                <input
                    class="rounded"
                    type="search"
                    placeholder=" Busque seu lembrete"
                    autofocus 
                    (keyup) = "debounce.next($event.target.value)">
            </form>
        </div>
        <lembrete-modal class="col-sm" (formParaList)='lembretesOfLembreteListComponent'></lembrete-modal>
    </div>
  </div>

<ap-lembretes 
    [lembretesOfLembretesComponent]='lembretesOfLembreteListComponent | filterByDescription: filter'>
</ap-lembretes>

<ap-load-button 
    (click)='load()'
    [hasMoreOfLoadButtonComponent]="hasMoreOfLembreteListComponent">
</ap-load-button>